*{ font-family: arial;
	color: #48EEF9;
	text-shadow: 0.1em 0.1em 0.2em black;
				}
				
				#banner_l{
					background: linear-gradient(to top, #66ccff 0%, #ff99ff 100%);
					height: 70px; 
					width: 100%; 
					font-size: 120%; 
					float: left; 
					font-weight: bold;
				}
				.glowny{ 
					background-color:  #99ccff;
					height: 300px;
					width:	20%;
					text-align: left;
					float: left;
					
				}
				#glowny_s{
					background-color:  #99ccff;
					height: 300px;
					width:	20%;
					text-align: center;
					float: left;
					border: 10px;
					border-color: #ff99ff;
				
					
					
					
				}
				#stopka_p{
					background: linear-gradient(to top, #66ccff 0%, #ff99ff 100%);
					height: 70px; 
					width: 100%; 
					font-size: 120%; 
					float: left; 
					text-align: center;
					
				}
				#doldol{
					background: linear-gradient(to top, #66ccff 0%, #ff99ff 100%);
					height: 1000px;
				}
				
td{
	border: outset;
	border-color: ff99ff;
	text-align: center;
}
button{
	border: outset;
	text-align: center;
	text-shadow: 0.0em 0.0em 0.0em black;
	color: black;
}
input{
	width: 90px;
	color: black;
	text-shadow: 0.0em 0.0em 0.0em black;
	
}	
img{
	border: solid 2px;
	height: 220px;
	width: 263px;
	border-color: #ff99ff;
	
}
p{
	text-align: center;
}
h3{
	text-align: center;
}
#wynik{
	font-weight: bold;
}